
  <div class="row container-fluid orders">
    <h1 class="order-header">Your Shiny Object Order:</h1>
    <% @orders.each do |order| %>
      <div class="col-sm-12 col-md-6 each-order" id="order-index">
        <h2>
          Shiny Order # <%= order.id %>:
        </h2>
        <h3>
          <%= link_to order.product.name, order.product %>
        </h3>
        <%= image_tag(order.product.image_url, :class => "img-fluid p-2") %>
        <p><%= order.product.description %></p>
        <p>$ <%= order.product.price %></p>
        <strong><%= "Your Total: #{order.total} $" %></strong>
        <%= link_to 'View', order, :class => "btn btn-info btn-link btn-lg" %>
      </div><!-- /col -->
    <% end %>
    <div class="text-center">
      <%= link_to 'Back', products_path, :class => " btn btn-defualt btn-link btn-lg" %>
    </div>
  </div>
