<h2>Sign in please!</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field sessions-field-label">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%= @user.email if @user.email? %>
  </div>

  <div class="field sessions-field-label">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field sessions-field-label sessions-remember-me">
      <%= f.label :remember_me %>
      <%= f.check_box :remember_me %>
    </div>
  <% end -%>

  <div class="actions sessions-new-login">
    <%= f.submit "Sign in" %>
  </div>
<% end %>


<div class="sessions-new-shared-links">
  <%= render "devise/shared/links" %>
</div>
