<p id="notice"><%= notice %></p>
<div class="show_products_page container-fluid text-center col-xs-12">

  <p>
    <%= image_tag(@product.image_url, class: "img-responsive image-shaping") %>
  </p>

  <p class="show-product-name">
    <%= @product.name %>
  </p>

  <p class="product-description">
    <%= @product.description %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= @product.colour %>
  </p>

  <p class="product-price">
    <strong>Price:</strong>
    $<%= @product.price %> CAD
  </p>

  <%= form_with(url: '/payments/create') do |form| %>
    <%= render partial: "shared/stripe_checkout_button" %>
  <% end %>
  <br>

  <div class="container-fluid text-center col-xs-12 ratings">
      <!-- Average Rating -->
      <p class="average-rating-words highest-rating-words">
        <strong>Average Rating </strong>
        <div class="average-rating-number rated" data-score="<%= @product.average_rating %>"></div>
        <br>
      </p>
  </div>

  <%= link_to 'Edit Product', edit_product_path(@product) %> |
  <%= link_to 'Go Back', :back %>

</div>

    <!-- Comments -->
<div class="container-fluid text-center col-xs-12 ratings-comments">
    <div class="comments">
      <%= render 'comments' %>
    </div>
    <%= will_paginate @comments %>
</div>

<div class="container-fluid text-center col-xs-12 new-comments-div">
  <div class="new-comment">
    <%= render 'new_comment' %>
  </div>
</div>

<div class="alert alert-info" style="display:none" role="alert">
  <p>Hey! You left a new comment, Thanks!</p>
</div>

<p class="blurb container-fluid text-center col-xs-12"><i><strong>Keep checking for new Shiny's!</strong></i></p>
