<p id="notice"><%= notice %></p>
<div class="show_products_page">

    <p>
      <%= @product.name %>
    </p>

    <p>
      <%= image_tag @product.image_url %>
    </p>

    <p>
      <%= @product.description %>
    </p>

    <p>
      <strong>Colour:</strong>
      <%= @product.colour %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @product.price %>
    </p>

    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>

</div>
